@charset "UTF-8";

body{
    background-color: #f6f6f6;
    overflow-x: hidden;
}

/*头部*/
#header{
    padding-bottom:10px;
    background-color: #f6f6f6;
}

#header .container-fluid{
    border-bottom: 1px;
    padding: 10px;
    background-color: #ffffff;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.logined embed{
    width: 35px;
    height: 35px;
}
.logined button{
    background-color: rgba(0,0,0,0);
    border-top: 1px solid #bdc3c7;
    border-bottom: 1px solid #bdc3c7;
}
#MyselfInformation{
    position: absolute;
    z-index: 5;
    width: 150px;
}
.header-delive
{
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:#e5e4e4;
}
.header-img
{
    width:68px;
    height:68px;
    margin:0px 0px 0px 0px!important;
}
.header-set
{
    float:left;
    margin:8px;
}
.header-h1-set
{
    margin:10px;
    border-bottom-style:solid;
    border-bottom-color:#CCCCCC;
    border-bottom-width:1px;
    padding-bottom:5px;
}
.header-td
{
    padding:0px 5px;
}
.header-h3-set
{
    height:50px;
    margin:0px;
    padding:5px 0px;
}

.enlarge
{
    height:25px;
    width:25px;
    cursor: pointer;
    margin-left:10px;
}
.find-style
{
    border-right:none!important;
    border-right-width:0px;
    border-radius:13px;
}

.main .container{
    background-color:#fff;
    width: 88%;
}


.md-top-bg
{
    margin-top: 20px;
}
.md-top-img
{
    position:relative;
    height:400px;
    width:100%;
}
.left-navigation
{
    position:fixed;
    top:200px;
}
#find{
    margin-top: 5px;
}
.prompt_box{
    position: relative;
    margin-left: 8px;
    top:5px;
}
.left-navigation-label
{
    position:absolute;
    height:30px;
    width:30px;
    top:5px;
    left:5px;
    z-index:12;
}
.left-navigation-bg
{
    height:40px;
    width:40px;
    background-color:#204d74;
    border-bottom-right-radius:15px;
    z-index:12;
}
a:hover, a:focus
{
    text-decoration: none;
}
.mobile-nav ul li a
{
    color: white;
    display: block;
    padding: 1em 5%;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #292929;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.dropdown-header{
    color: white;
}
.tree_container{
    position: relative;
    /*height: 150px;*/
    z-index: 10;
    float: left;
    padding-left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom:  #c0c0c0 1px solid;
    border-left:  #c0c0c0 1px solid;
    border-right:  #c0c0c0 1px solid;
}
.tree_container div:nth-child(1){
    padding-top: 7px;
    font-size: large;
    /*height:30px;*/
}
.tree_container div:nth-child(2){
    /*height: 25px;*/
    font-size: medium;
    color:#67b168;
    position: relative;
    float: left;
    padding: 5px 5px 5px 20px;
    width: 100%;
}
.tree_container div:nth-child(3){
    /*height:145px;*/
    width: 100%;
    padding: 10px 10px 10px 20px;
    position: relative;
    float: left;
}
.item div img{
    position: relative;
}
.item div div {
    padding-left: 0px;
    padding-right: 10px;
}
#mobile-menu
{
    position: fixed;
    top:70px;
    left: 0;
    width: 220px;
    height: 85%;
    background-color: #373737;
    z-index:200;
    transition: all 0.3s ease-in;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
.mobile-menu-ul
{
    padding-left:10px;
}
.mobile-menu-a
{
    border-top-right-radius:20px;
}
.mobile-nav ul li a:hover
{
    background-color: #23A1F6;
    color: #ffffff;
}
.show-nav
{
    transform: translateX(0);
}
.hide-nav
{
    transform: translateX(-220px);
} /*侧滑关键*/
.mobile-nav-taggle
{
    height: 35px;
    line-height: 35px;
    width: 35px;
    background-color: #23A1F6;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.nav.avbar-inverse
{
    position: relative;
}
.nav-btn
{
    position: absolute;
    right: 20px;
    top: 20px;
}
.md-top-zindex
{
    z-index:10;
}
.mobile-menu-turn-off
{
    position:relative;
    top:10px;
    right:10px;
    border-top-right-radius:20px;
    height:40px;
    padding:0px;
    color:#e5e4e4;
    font-size:x-large;
}
.header-btn-set
{
    padding:5px 15px 5px 15px;
    color: #23A1F6;
    height:40px;
    padding:0px 15px;
    transition: font-size 0.3s;
}

.header-btn-set:hover{
    background-color: #70d217;
    color: white;
    font-size: larger;
}

.tree
{
    position:relative;
    top:6px;
    height:45px;
    width:45px;
    margin-top:3px;
}
.carousel-btn
{
    border-color:white;
    border-style:solid;
    border-width:2px;
    background-color:rgba(0,0,0,0.6);
    color:white;
}
.text-blue
{
    color:#0099CC;
}
.login_svg
{
    position:relative;
    top:7px;
    height:25px;
    width:25px;
    margin-right:20px;
    float:left;
}
.form-control
{
    position:relative;
    float:left;
}
.login_input_vp_set
{
    margin-right:10px;
    width:28%!important;
    height:34px;
}
.login_input_set
{
    width:50%!important;
    float:left;
}
#verification_check_end
{
    position:relative;
    float:left;
    top:10px;
}
#forget
{
    position:relative;
    left:60%;
}
#disregist
{
    position:relative;
    left:60%;
}
.Verification_position
{
    position:relative;
    top:15px;
}
.more-bg
{
    position:relative;
    background-color:#373737;
    border-left:none;
}
.panel-more
{
    position:relative;
    top:0px;
}

.logintoregist
{
    position:absolute;
    top:15px;
    right:20px;
}

.main{

    margin:0 1px 5px 1px;
    padding-bottom: 30px;
}
/*知识树区*/
#tree_carousel .carousel-control{
    width: 5%;
}



/*评论区*/
.main .comment{
    width: 100%;
}

.main .comment .carousel{
    background-color: white;
    border-color: rgba(231, 231, 231, 0);
    box-shadow: 0 0 50px rgba(0,0,0,0.35);
    padding: 10px;
}
.carousel
{
    float:none;
}
.main .comment .carousel .innerleft{
    height: 300px;
    background: #4cae4c;
    border-radius: 15px;
    float: left;
}

.main .comment .carousel .innerright{
    height: 300px;
    border-radius: 15px;
    background: red;
    float: left;
}
.comment div > h1
{
    position:relative;
    height:40px;
}
.comment_title
{
    position:relative;
    float:left;
}
/*.main .comment .comment_title h1{*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 36px;*/
    /*font-weight: 500;*/
    /*text-transform: uppercase;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.main .comment .comment_title img{*/
    /*border-image: url("../img/comment-icon.png");*/
    /*width: 34px;*/
    /*height: 34px;*/
/*}*/

#carousel .carousel-indicators{
    top: 101%;
}
/*页脚部分*/
#footer{
    padding: 15px;
    margin-top: 10px;
    background-color: #171c3e;
}

#footer .footer_item{
    margin: 12px 0;
}

#footer .footer_item p{
    color:#999;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

#footer .footer_item span{
    color:#999;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

#footer .footer_logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#footer .footer_logo a{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    text-decoration : none;
}

#footer .right p{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}
.right-next
{
    width:5%;
}
.carousel-margin
{
    margin-top:10px;
    margin-bottom:30px;
}
.carousel-inner
{
    margin-bottom:20px;
}
.middle-img-margin div > div > img
{
    padding-left:0px;
    padding-right:10px;
    padding-bottom:3px;
}
.middle-img-margin > div >div
{
    padding-left:0px;
    padding-right:10px;
}

.left_type_moreinformation{
    position: absolute;
    left:100%;
    border: 1px solid #c0c0c0;
    background-color: white;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    display: none;

}
.small_type{
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 5px;

}
.small_top_type{
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    color: black;
    color: rgba(114,114,114,0.57);
    box-shadow:-10px 15px 5px -11px rgba(114,114,114,0.57);
}
.tree_title{
    width: 100%;
    padding:0 15px 5px 15px;
}
.tree_title span:nth-child(2){
    padding-top:5px ;
    font-size: large;
    transition: all 0.2s ease-out;
}
.tree_title span:nth-child(2):hover{
    font-size: 20px;
}
.main_bg{
    position: absolute;
    width: 0;
    height: 0;
    border:300px rgba(0,0,0,0) solid;
    z-index: -1;
}
.bg-left1{
    left:0;
    border-left-color: #ec971f;
}
.bg-right1{
    right: 0;
    top: 600px;
    border-right-color: #1fcd98;
}

/*——————————————————————————————————————————————————————————————————————————*/
@media screen and (max-width:960px) {
    .left-navigation
    {
        top:500px;
    }
    .right-next
    {
    width:50px;
    }
    .innerleft
    {
        margin-bottom:10px;
    }
    .carousel-float
    {
        float:right;
    }
    .md-top-img
    {
        height:300px;
    }
    .header-btn-set
    {
        padding:0px;
    }
    .left_type_moreinformation{
        width: 300px;
    }
    .main_middle
    {
        position:relative;
    }
    .bg-left2{
        left:0px;
        top:1200px;
        border-left-color: #ec971f;
    }
}
@media screen and (min-width:960px){
    .left_type_moreinformation{
        width: 600px;
    }

}
